.admin-page {
    display: flex;
    height: 87vh;
    align-items: center;
    justify-content: center;
}

.context-menu {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .context-menu button {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .context-menu button:hover {
    background-color: #f0f0f0;
  }
  