.summary {
    text-indent: 20px;
    font-size: medium;
    padding: 2vw;
}

.cards {
    display: flex;
    width: 95vw;
    justify-content: space-evenly;
}

.single_card { /* Correct class name */
    width: 20rem; /* Adjust width as needed */
    margin: 10px; /* Optional: add some margin between cards */
    padding: 15px; /* Optional: add padding inside the cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: add a shadow for better visual appearance */
    border-radius: 8px; /* Optional: add rounded corners */
    overflow: hidden; /* Ensure content doesn't overflow */
    background-color: whitesmoke; /* Optional: add background color */
    color: black;
}

.image {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: 10rem; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the entire area, cropping if necessary */
    border-radius: 8px; /* Match the card's border radius */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    color: black;
    font-size: large; /* Adjust font size if needed */
}

.desc {
    color: black;
    font-size: medium; /* Adjust font size as needed */
    margin-top: 10px; /* Optional: add space between title and description */
}

@media (max-width: 768px) {
    .cards {
        display: none;
    }
}
