/* display all projects in grid format */
.all-projects-default {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 8rem;
  row-gap: 4rem;
}

.structure-buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
/* set consistent card width height and spacing */
.projects-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  width: 400px;
  max-height: 500px;
  background-color: whitesmoke;
  color: slategrey;
  transition: max-height 0.3s ease-in-out;
}

.projects-card:hover {
  max-height: 1000px;
}

.card-bottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* animating hide show skills section */
.skills-section {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px;
  overflow: hidden;
  text-align: start;
  transition: opacity 0.2s ease, transform 0.3s ease, max-height 0.3s ease;
  pointer-events: auto;
}

.skills-section.hide {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  max-height: 0;
}

.skills-section.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  max-height: 1000px;
}

/* images css */
.project-image {
  object-fit: contain;
}

/* css for uniform links */
.project-link {
  color: #36454F;
  font-size: xx-large;
  height: 100%;
}

.project-link:hover {
  color: black;
}


.hover-eye {
  display: none;
}

.project-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.project-icons .eye-icon:hover .default-eye {
  display: none;
}

.project-icons .eye-icon:hover .hover-eye {
  display: block;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  height: 50vh;
}

.project-switch {
  display: flex;
  justify-content: center;
  align-items: centers;
}

.project-switch h3 {
  padding: 10px;
}

.active-now {
  color: black;
  background-color: cornflowerblue;
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  cursor: default;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.inactive {
  opacity: 0.5;
}

.inactive:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 768px) {}
