.home-page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.admin-nav-bg {
    width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    position: fixed;  /* Ensure the nav component stays fixed at the top */
    top: 0;
    left: 0;
    background: linear-gradient(
        to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--background-end-rgb), 1)
    );
    z-index: 1000; /* Optional: Ensure it stays above other content */
    box-shadow: 0 6px 5px -6px black;
}

.admin-nav-items {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    font-size: large;
    padding: 10px 20px; /* Adjust padding to ensure space for items */
    color: whitesmoke;
    width: 100%;  /* Make sure it spans the full width of the container */
    box-sizing: border-box; /* Include padding in the element's total width */
}

.add_content, .search-bar, .signout {
    margin: 0 10px; /* Optional: Add margin for spacing between items */
    white-space: nowrap; /* Prevent text from wrapping */
}

.add_content {
    font-size:x-large;
}

.search-bar {
    width: 30%;
    display: flex;
    background-color: rgba(245, 245, 245, 0.8);
    padding: 5px;
    padding-left:  10px;
    padding-right: 10px;
    color: black;
    border-radius: 10px;
}

.search-text {
    width: 100%;
    border: none;            /* Remove border */
    outline: none;           /* Remove focus outline */
    background: none;        /* Remove background */
    box-shadow: none;        /* Remove box-shadow */
    padding: 0;              /* Remove padding */
    margin: 0;  
    font-size: medium;
    padding-left: 10px;
}

.search-text::placeholder {
    color: black; /* Adjust this color to make the placeholder text darker */
    opacity: 1;      /* Ensure the placeholder text is fully visible */
}

.signout {
    display: flex; /* Ensure it aligns well */
    align-items: center; /* Center text vertically */
}

.signout:hover {
    cursor: pointer;
    color: #ff6347; /* Hover color */
}

.filler-screen {
    text-align: center; /* Center content if needed */
    padding: 20px; /* Add padding for better visibility */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filler-header {
    padding: 3rem;
}

.filler-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    box-shadow: 0px 0px 6px 0.5px lightblue;
    text-align: center;
    border-radius: 5px;
    /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;*/
    color: white; /* Default text color */
}

.filler-button:hover {
    cursor: pointer;
    color: black; /* Hover text color */
    background-color: darkgreen; /* Hover background color */
}

.caption-text {
    color: whitesmoke;
}

.folder-group {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: transparent dotted;
}

.folder-group:hover, .file-group:hover {
    border: rgba(0, 255, 255, 0.7) dotted;
}

.file-group {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: transparent dotted;
}

.folder-icon, .hover-folder-icon, .file-icon {
    font-size: 3rem; /* Adjust this value to change the icon size */
    width: 3rem;     /* For SVGs or images */
    height: 3rem;    /* For SVGs or images */
    color: #708090;
}

.hover-folder-icon {
    display: none;
}

.folder-group:hover .folder-icon {
    display: none;
}

.folder-group:hover .hover-folder-icon {
    display: block;
}

.grid-container {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust 200px as needed */
    grid-auto-rows: minmax(100px, auto); /* Adjust 100px as needed */
    gap: 5px; /* Space between the items */
  }